Repository hotosm/osm-fieldwork, pull requests merged in 2023-08, with the labels that each got.

#169 fix: chunk set to 1 when the chunk value is 1
  osm_fieldwork/odk_merge.py
Labels: bug

#171 feat: get form full details
  osm_fieldwork/OdkCentral.py
  osm_fieldwork/odk_merge.py
Labels: enhancement

#172 fix: no of threads missing some data at the end
  osm_fieldwork/OdkCentral.py
  osm_fieldwork/osmfile.py
Labels: bug

#175 Add pySmartDL dep and bump v0.3.5
  .gitignore
  CHANGELOG.md
  Makefile
  osm_fieldwork/__version__.py
  pyproject.toml
Labels: version

#176 odk credentials passed in the OdkForm class initialization inside dow…
  osm_fieldwork/OdkCentral.py
Labels: enhancement

#178 Fix createProject creating duplicate projects
  osm_fieldwork/OdkCentral.py
Labels: enhancement

#177 Generate docs with mkdocs, remove wiki
  .github/workflows/docs.yml
  .github/workflows/wiki.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  docs/CHANGELOG.md
  docs/LICENSE.md
  docs/Makefile
  docs/about/About.md
  docs/about/CSVDump.md
  docs/about/Contribution.md
  docs/about/FAQ.md
  docs/about/Home.md
  docs/about/Troubleshooting.md
  docs/about/Version-Control.md
  docs/about/_Sidebar.md
  docs/about/basemapper.md
  docs/about/configuring.md
  docs/about/conflation.md
  docs/about/convert.md
  docs/about/externaldata.md
  docs/about/make_data_extract.md
  docs/about/odk_client.md
  docs/about/odk_merge.md
  docs/about/osm2favorites.md
  docs/about/osmfile.md
  docs/about/programs.md
  docs/about/user-manual.md
  docs/about/xlsforms.md
  docs/about/xlsimages/image1.jpg
  docs/about/xlsimages/image2.jpg
  docs/about/xlsimages/image3.jpg
  docs/about/xlsimages/image4.png
  docs/about/yamlfile.md
  docs/api/ODKForm.md
  docs/api/OdkCentral.md
  docs/css/extra.css
  mkdocs.yml
  pyproject.toml
Labels: enhancement

#179 Fix type/indent errors after docstring additions
  osm_fieldwork/basemapper.py
  osm_fieldwork/odk_merge.py
  osm_fieldwork/sqlite.py
Labels: bug, enhancement

#187 Remove all refs to OGR, use shapely
  docs/about/basemapper.md
  osm_fieldwork/basemapper.py
  osm_fieldwork/make_data_extract.py
Labels: enhancement, Priority: Nice to have

#186 Update pyproject as template for others
  .dockerignore
  .flake8
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/pytest.yml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  README.md
  build_imgs.sh
  entrypoint.sh
  mkdocs.yml
  osm_fieldwork/CSVDump.py
  pdm.lock
  pyproject.toml
  tests/.flake8
  tests/test_conflation.py
  tests/test_convert.py
  tests/test_csv.py
  tests/test_osm.py
  tests/testdata/test.csv
Labels: enhancement
