Repository hotosm/osm-fieldwork, pull requests merged in 2023-03, with the labels that each got.

#99 Improve odk_client.md
  docs/odk_client.md
Labels: documentation

#88 Adding FAQ
  docs/FAQ.md
Labels: documentation, outreachy

#112 Improved docs
  docs/xlsforms.md
Labels: documentation, outreachy

#110 more information of odkconvert tools to home.md
  docs/FAQ.md
  docs/Home.md
Labels: documentation, outreachy

#118 Fixed a typo
  docs/programs.md
Labels: documentation, outreachy

#116 Improved docs
  docs/About.md
Labels: documentation, outreachy

#121 Added a Example usage: header in odk_client.md
  docs/odk_client.md
Labels: documentation, outreachy

#117 Improved docs
  docs/xlsforms.md
Labels: documentation, outreachy

#123 Improved externaldata.md
  docs/externaldata.md
Labels: documentation, outreachy

#124 Add docs about version control and github releases
  docs/Version-Control.md
  docs/_Sidebar.md
Labels: documentation

#126 Fixed a typo basemapper.md
  docs/basemapper.md
Labels: documentation, outreachy

#131 Fixed a typo
  docs/Contribution.md
Labels: documentation, outreachy

#139 Improved documentation
  docs/Contribution.md
  docs/Home.md
  docs/basemapper.md
  docs/configuring.md
  docs/externaldata.md
  docs/odk_client.md
  docs/odk_merge.md
  docs/programs.md
  docs/xlsforms.md
Labels: documentation, outreachy

#133 Improved docs
  CODE_OF_CONDUCT.md
Labels: documentation, outreachy

#127 Minor change in _Sidebar.md
  docs/_Sidebar.md
Labels: documentation, outreachy

#132 Restructured bullet system of Code-of-Conduct.md
  docs/Code-of-Conduct.md
Labels: documentation, outreachy

#125 Improved configuring.md
  docs/configuring.md
Labels: documentation, outreachy

#65 improve basemapper.md docs with more examples
  docs/basemapper.md
Labels: documentation, outreachy

#107 Adding more details to xlsforms.md
  docs/xlsforms.md
Labels: documentation, outreachy

#134 Fixed typos in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, outreachy

#137 Update configuring.md
  docs/configuring.md
Labels: documentation, outreachy

#141 Final refactoring for refs to odkconvert, first publish 0.2.0
  CHANGELOG.md
  Makefile
  README.md
  docs/Home.md
  docs/basemapper.md
  docs/odk_client.md
  docs/programs.md
  osm_fieldwork/__version__.py
  pyproject.toml
Labels: enhancement, Priority: Must have
