Repository hotosm/osm-fieldwork, pull requests merged in 2023-05, with the labels that each got.

#145 get individual submission from getSubmission function in OdkForm program
  osm_fieldwork/OdkCentral.py
Labels: enhancement

#146 fix: output file in osm extracts
  osm_fieldwork/OdkCentral.py
  osm_fieldwork/make_data_extract.py
Labels: bug

#147 bump: version 0.3.1rc0 → 0.3.1rc1
  CHANGELOG.md
  Makefile
  osm_fieldwork/__version__.py
  pyproject.toml
Labels: version

#149 xmlFormId updated to xform in OdkCentral
  osm_fieldwork/OdkCentral.py
Labels: enhancement

#150 Improve docs around making releases
  docs/Version-Control.md
  osm_fieldwork/OdkCentral.py
Labels: enhancement

#153 Improved Home.md
  docs/Home.md
Labels: documentation, outreachy
