Repository hotosm/osm-fieldwork, pull requests merged in 2023-09, with the labels that each got.

#189 json2osm via cmdline + programatically
  osm_fieldwork/json2osm.py
Labels: enhancement, Priority: Nice to have

#190 filters added for the submissions
  osm_fieldwork/OdkCentral.py
Labels: enhancement

#191 bump: version 0.3.6rc0 → 0.3.6rc1
  CHANGELOG.md
  Makefile
  osm_fieldwork/__version__.py
  pyproject.toml
Labels: version

#192 Fix json2osm, handle polygons and points
  osm_fieldwork/json2osm.py
Labels: bug, Priority: Should have

#193 bump: version 0.3.6rc1 → 0.3.6rc2
  CHANGELOG.md
  Makefile
  osm_fieldwork/__version__.py
  pyproject.toml
Labels: version
