Repository hotosm/osm-fieldwork, pull requests merged in 2023-10, with the labels that each got.

#195 Fixes
  osm_fieldwork/json2osm.py
Labels: bug, enhancement

#198 Update dockerfile & use reusable workflows for CI
  .github/workflows/build-ci.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/pytest.yml
  Dockerfile
  docs/about/FAQ.md
  docs/about/make_data_extract.md
  docs/about/odk_client.md
  entrypoint.sh
Labels: enhancement, devops

#200 Fix data models, remove join_or syntax
  docs/about/make_data_extract.md
  osm_fieldwork/data_models/__init__.py
  osm_fieldwork/data_models/amenities.yaml
  osm_fieldwork/data_models/buildings.yaml
  osm_fieldwork/data_models/camping.yaml
  osm_fieldwork/data_models/cemeteries.yaml
  osm_fieldwork/data_models/education.yaml
  osm_fieldwork/data_models/emergency.yaml
  osm_fieldwork/data_models/health.yaml
  osm_fieldwork/data_models/highways.yaml
  osm_fieldwork/data_models/landusage.yaml
  osm_fieldwork/data_models/nature.yaml
  osm_fieldwork/data_models/places.yaml
  osm_fieldwork/data_models/religious.yaml
  osm_fieldwork/data_models/toilets.yaml
  osm_fieldwork/data_models/wastedisposal.yaml
  osm_fieldwork/data_models/waterpoints.yaml
  osm_fieldwork/data_models/waterways.yaml
  pdm.lock
  pyproject.toml
  tests/test_yaml.py
Labels: bug, Priority: Should have

#202 Fix basemapper.py threading, add wrapper func, add PMTile support
  .gitignore
  docs/about/basemapper.md
  docs/about/make_data_extract.md
  docs/api/basemapper.md
  osm_fieldwork/basemapper.py
  osm_fieldwork/sqlite.py
  pdm.lock
  pyproject.toml
Labels: bug, documentation, enhancement, devops, dependency
