Repository hotosm/osm-fieldwork, pull requests merged in 2024-09, with the labels that each got.

#291 Added packages python-calamine and xlsxwriter
  osm_fieldwork/update_form.py
  osm_fieldwork/xlsforms/fmtm/digitisation_fields.xls
  osm_fieldwork/xlsforms/fmtm/mandatory_fields.xls
  pdm.lock
  pyproject.toml
  tests/test_update_form.py
  tests/testdata/test_form_for_mandatory_fields.xls
Labels: enhancement, dependency

#294 Created separate group verification for digitisation form
  osm_fieldwork/update_form.py
  osm_fieldwork/xlsforms/fmtm/digitisation_fields.xls
  osm_fieldwork/xlsforms/fmtm/mandatory_fields.xls
Labels: enhancement

#297 Made digitisation_correct read_only field
  osm_fieldwork/xlsforms/fmtm/digitisation_fields.xls
Labels: enhancement

#299 Handle all XLSForm manuipulation in update_xlsform.py
  docs/api/update_xlsform.md
  mkdocs.yml
  osm_fieldwork/update_form.py
  osm_fieldwork/update_xlsform.py
  osm_fieldwork/xlsforms/buildings.xls
  osm_fieldwork/xlsforms/fmtm/mandatory_fields.xls
  osm_fieldwork/xlsforms/health.xls
  tests/test_update_form.py
  tests/test_update_xlsform.py
Labels: bug, docs, enhancement

#303 Remove multiple duplicates in choice sheets
  osm_fieldwork/update_xlsform.py
Labels: bug

#304 bump: version 0.16.7 → 0.16.8
  CHANGELOG.md
  Makefile
  osm_fieldwork/__version__.py
  pyproject.toml
Labels: version, devops, dependency
