Repository hotosm/osm-fieldwork, pull requests merged in 2024-07, with the labels that each got.

#264 Fix parsing an OSM XML file
  osm_fieldwork/osmfile.py
Labels: enhancement, Priority: Nice to have

#267 Add minzoom and maxzoom params to basemapper to allow view past zoom 18
  osm_fieldwork/basemapper.py
  osm_fieldwork/sqlite.py
  tests/test_conflation.py
Labels: bug

#272 Add support for moving tiles
  osm_fieldwork/basemapper.py
Labels: enhancement

#274 Fix typo, usfs not usgs, add querying the relations table
  osm_fieldwork/data_models/highways.yaml
Labels: enhancement

#275 fix: Add support for ways when importing an OSM XML file
  osm_fieldwork/osmfile.py
Labels: enhancement

#276 Added endpoint to create dataset and bulk upload entities
  docker-compose.yml
  docs/about/odk-entities.md
  docs/api/OdkCentral.md
  docs/api/OdkCentralAsync.md
  nginx/odk.conf
  osm_fieldwork/OdkCentral.py
  osm_fieldwork/OdkCentralAsync.py
  osm_fieldwork/xlsforms/__init__.py
  osm_fieldwork/xlsforms/archived/entities_registration.xls
  osm_fieldwork/xlsforms/entities_registration.xml
  pyproject.toml
  tests/conftest.py
  tests/test_entities.py
Labels: documentation, dependency

#278 Fix generating pmtiles with different file extensions, update XLSForm ordering
  osm_fieldwork/OdkCentralAsync.py
  osm_fieldwork/basemapper.py
  osm_fieldwork/imagery.yaml
  osm_fieldwork/sqlite.py
  osm_fieldwork/xlsforms/buildings.xls
  osm_fieldwork/xlsforms/health.xls
  tests/test_entities.py
Labels: bug, Priority: Should have
