Repository hotosm/osm-fieldwork, pull requests merged in 2024-03, with the labels that each got.

#231 Typo fix
  README.md
Labels: documentation

#236 Function to update review state of submission
  osm_fieldwork/OdkCentral.py
Labels: enhancement, Priority: Should have

#244 use logger.basicConfig for modules
  osm_fieldwork/CSVDump.py
  osm_fieldwork/ODKDump.py
  osm_fieldwork/ODKForm.py
  osm_fieldwork/ODKInstance.py
  osm_fieldwork/OdkCentral.py
  osm_fieldwork/basemapper.py
  osm_fieldwork/convert.py
  osm_fieldwork/filter_data.py
  osm_fieldwork/json2osm.py
  osm_fieldwork/make_data_extract.py
  osm_fieldwork/odk2csv.py
  osm_fieldwork/odk2geojson.py
  osm_fieldwork/odk2osm.py
  osm_fieldwork/odk_client.py
  osm_fieldwork/odk_merge.py
  osm_fieldwork/osm2favorities.py
  osm_fieldwork/osmfile.py
  osm_fieldwork/sqlite.py
  osm_fieldwork/yamlfile.py
Labels: enhancement, good first issue, Priority: Nice to have

#245 First implementation of ODK Central Entities
  osm_fieldwork/OdkCentral.py
Labels: enhancement

#239 Began documenting work on Entities-based FMTM work
  docs/about/odk-entities.md
Labels: documentation
